@model MamcheAmAm.Web.ViewModels.RecipesViewModels.ListRecipesModel

@{
    this.ViewData["Title"] = "All recipes";
}

<br />
<h2 class="text-center">Welcome to Mamche Am-Am.</h2>
<h3 class="text-center">Hungry? Try our recipes and you will love them.</h3>
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="col">
            <div class="card">
                <img src="@recipe.ImageUrl" class="card-img-top img-fluid" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title text-center">@recipe.Title</h5>
                    <h6 class="card-title text-center">@recipe.CategoryName</h6>
                    <p class="card-text">@recipe.Instructions.Substring(0, 30)...</p>
                    <a href="#" class="btn btn-primary">Go to recipe</a>
                </div>
            </div>
        </div>
    }
</div>

<br />

<partial name="_PagingPartial" model="@Model" />